In [1]:
%load_ext sql

In [2]:
%sql postgresql://appdev@data:5432/appdev

'Connected: appdev@appdev'

In [5]:
%matplotlib inline

# Assignment 7: Grouping and more joins

#### Exercise / Query 1
Using a single join and a grouping, write a query that allows you to find the forename, surname, driverid and the total number of wins for each driver in the f1db schema.

In [13]:
%%sql  select q.forename, q.surname, q.driverid, foo.p AS wins from f1db.drivers AS q 
INNER JOIN (select driverid, count(positionorder) AS p from f1db.results WHERE positionorder=1 group by driverid) AS foo 
ON q.driverid=foo.driverid GROUP BY q.driverid, foo.p ORDER BY foo.p DESC;

107 rows affected.

[('Michael', 'Schumacher', 30, 91),
 ('Lewis', 'Hamilton', 1, 60),
 ('Alain', 'Prost', 117, 51),
 ('Sebastian', 'Vettel', 20, 46),
 ('Ayrton', 'Senna', 102, 41),
 ('Fernando', 'Alonso', 4, 32),
 ('Nigel', 'Mansell', 95, 31),
 ('Jackie', 'Stewart', 328, 27),
 ('Niki', 'Lauda', 182, 25),
 ('Jim', 'Clark', 373, 25),
 ('Juan', 'Fangio', 579, 24),
 ('Nico', 'Rosberg', 3, 23),
 ('Nelson', 'Piquet', 137, 23),
 ('Damon', 'Hill', 71, 22),
 ('Kimi', 'Räikkönen', 8, 20),
 ('Mika', 'Häkkinen', 57, 20),
 ('Stirling', 'Moss', 475, 16),
 ('Jenson', 'Button', 18, 15),
 ('Emerson', 'Fittipaldi', 224, 14),
 ('Graham', 'Hill', 289, 14),
 ('Jack', 'Brabham', 356, 14),
 ('David', 'Coulthard', 14, 13),
 ('Alberto', 'Ascari', 647, 13),
 ('Alan', 'Jones', 178, 12),
 ('Carlos', 'Reutemann', 199, 12),
 ('Mario', 'Andretti', 207, 12),
 ('Felipe', 'Massa', 13, 11),
 ('Rubens', 'Barrichello', 22, 11),
 ('Jacques', 'Villeneuve', 35, 11),
 ('Gerhard', 'Berger', 77, 10),
 ('Jody', 'Scheckter', 222, 10),
 ('James', 'Hunt', 231, 10),
 ('Ronnie', 'Peterson', 238, 10),
 ('Mark', 'Webber', 17, 9),
 ('Jacky', 'Ickx', 235, 8),
 ('Denny', 'Hulme', 304, 8),
 ('Juan', 'Pablo Montoya', 31, 7),
 ('René', 'Arnoux', 163, 7),
 ('Ralf', 'Schumacher', 23, 6),
 ('Riccardo', 'Patrese', 119, 6),
 ('Jacques', 'Laffite', 172, 6),
 ('Gilles', 'Villeneuve', 203, 6),
 ('John', 'Surtees', 341, 6),
 ('Jochen', 'Rindt', 358, 6),
 ('Tony', 'Brooks', 479, 6),
 ('Michele', 'Alboreto', 105, 5),
 ('Keke', 'Rosberg', 177, 5),
 ('John', 'Watson', 187, 5),
 ('Clay', 'Regazzoni', 223, 5),
 ('Nino', 'Farina', 642, 5),
 ('Daniel', 'Ricciardo', 817, 5),
 ('Eddie', 'Irvine', 56, 4),
 ('Bruce', 'McLaren', 360, 4),
 ('Dan', 'Gurney', 364, 4),
 ('Giancarlo', 'Fisichella', 21, 3),
 ('Heinz-Harald', 'Frentzen', 49, 3),
 ('Johnny', 'Herbert', 65, 3),
 ('Thierry', 'Boutsen', 123, 3),
 ('Didier', 'Pironi', 202, 3),
 ('Phil', 'Hill', 403, 3),
 ('Mike', 'Hawthorn', 578, 3),
 ('Peter', 'Collins', 581, 3),
 ('Elio', 'de Angelis', 173, 2),
 ('Patrick', 'Tambay', 175, 2),
 ('Jean-Pierre', 'Jabouille', 219, 2),
 ('Patrick', 'Depailler', 221, 2),
 ('Peter', 'Revson', 309, 2),
 ('Pedro', 'Rodríguez', 345, 2),
 ('Jo', 'Siffert', 346, 2),
 ('Maurice', 'Trintignant', 427, 2),
 ('Wolfgang', 'von Trips', 476, 2),
 ('José Froilán', 'González', 498, 2),
 ('Bill', 'Vukovich', 657, 2),
 ('Valtteri', 'Bottas', 822, 2),
 ('Max', 'Verstappen', 830, 2),
 ('Heikki', 'Kovalainen', 5, 1),
 ('Robert', 'Kubica', 9, 1),
 ('Jarno', 'Trulli', 15, 1),
 ('Olivier', 'Panis', 44, 1),
 ('Jean', 'Alesi', 55, 1),
 ('Alessandro', 'Nannini', 145, 1),
 ('Jochen', 'Mass', 200, 1),
 ('Vittorio', 'Brambilla', 230, 1),
 ('Carlos', 'Pace', 250, 1),
 ('Gunnar', 'Nilsson', 255, 1),
 ('Jean-Pierre', 'Beltoise', 306, 1),
 ('Peter', 'Gethin', 320, 1),
 ('François', 'Cevert', 327, 1),
 ('Jo', 'Bonnier', 347, 1),
 ('Ludovico', 'Scarfiotti', 375, 1),
 ('Lorenzo', 'Bandini', 385, 1),
 ('Richie', 'Ginther', 386, 1),
 ('Giancarlo', 'Baghetti', 394, 1),
 ('Innes', 'Ireland', 404, 1),
 ('Rodger', 'Ward', 449, 1),
 ('Jim', 'Rathmann', 509, 1),
 ('Jimmy', 'Bryan', 525, 1),
 ('Troy', 'Ruttman', 526, 1),
 ('Pat', 'Flaherty', 559, 1),
 ('Luigi', 'Musso', 577, 1),
 ('Johnnie', 'Parsons', 593, 1),
 ('Sam', 'Hanks', 611, 1),
 ('Bob', 'Sweikert', 628, 1),
 ('Piero', 'Taruffi', 641, 1),
 ('Lee', 'Wallard', 766, 1),
 ('Luigi', 'Fagioli', 786, 1),
 ('Pastor', 'Maldonado', 813, 1)]

#### Exercise / Query 2
Write a query that joins the tables results, constructors and drivers to show the amount of times a driver has driven a car from a constructor. In other words how many times one driver (for instance Schumacher) has driven a constructor (for instance Mercedes). Your table should have three fields: drivers.driverref, constructors.name and count(*) (showing the number of times the driver has driven the constructor).

In [26]:
%%sql select count(r.constructorid) AS times_driven, d.driverref, c.constructorref from f1db.results AS r 
INNER JOIN (select driverid, driverref from f1db.drivers) AS d 
ON r.driverid=d.driverid INNER JOIN (select constructorid, constructorref from f1db.constructors) AS c 
ON r.constructorid=c.constructorid 
GROUP BY c.constructorref, d.driverref 
ORDER BY count(r.constructorid) 
DESC LIMIT 20;

20 rows affected.

[(181, 'michael_schumacher', 'ferrari'),
 (150, 'coulthard', 'mclaren'),
 (140, 'massa', 'ferrari'),
 (137, 'button', 'mclaren'),
 (136, 'rosberg', 'mercedes'),
 (133, 'hakkinen', 'mclaren'),
 (132, 'laffite', 'ligier'),
 (129, 'webber', 'red_bull'),
 (126, 'raikkonen', 'ferrari'),
 (113, 'vettel', 'red_bull'),
 (110, 'hamilton', 'mclaren'),
 (109, 'prost', 'mclaren'),
 (106, 'martini', 'minardi'),
 (106, 'alonso', 'renault'),
 (104, 'barrichello', 'ferrari'),
 (97, 'mansell', 'williams'),
 (96, 'berger', 'ferrari'),
 (96, 'senna', 'mclaren'),
 (96, 'alonso', 'ferrari'),
 (94, 'ralf_schumacher', 'williams')]

#### Exercise / Query 3
Now we have found the most driven vehicles even for those who didn't finish the race. Extend the query from 2 by removing all tuples from the result where the status is not "Finished".

In [30]:
%%sql select count(r.constructorid) AS times_driven, d.driverref, c.constructorref from f1db.results AS r 
INNER JOIN (select driverid, driverref from f1db.drivers) AS d 
ON r.driverid=d.driverid INNER JOIN (select constructorid, constructorref from f1db.constructors) AS c 
ON r.constructorid=c.constructorid 
WHERE r.statusid = 1
GROUP BY c.constructorref, d.driverref 
ORDER BY count(r.constructorid) 
DESC LIMIT 30;

30 rows affected.

[(141, 'michael_schumacher', 'ferrari'),
 (112, 'massa', 'ferrari'),
 (109, 'rosberg', 'mercedes'),
 (100, 'webber', 'red_bull'),
 (97, 'vettel', 'red_bull'),
 (92, 'raikkonen', 'ferrari'),
 (87, 'button', 'mclaren'),
 (87, 'alonso', 'ferrari'),
 (85, 'coulthard', 'mclaren'),
 (85, 'hamilton', 'mercedes'),
 (84, 'hamilton', 'mclaren'),
 (80, 'alonso', 'renault'),
 (73, 'barrichello', 'ferrari'),
 (70, 'hakkinen', 'mclaren'),
 (69, 'prost', 'mclaren'),
 (61, 'senna', 'mclaren'),
 (56, 'ricciardo', 'red_bull'),
 (54, 'ralf_schumacher', 'williams'),
 (52, 'bottas', 'williams'),
 (52, 'raikkonen', 'mclaren'),
 (49, 'hulkenberg', 'force_india'),
 (48, 'vettel', 'ferrari'),
 (47, 'heidfeld', 'bmw_sauber'),
 (46, 'mansell', 'williams'),
 (44, 'michael_schumacher', 'benetton'),
 (43, 'damon_hill', 'williams'),
 (42, 'trulli', 'toyota'),
 (41, 'massa', 'williams'),
 (40, 'lauda', 'ferrari'),
 (39, 'laffite', 'ligier')]

#### Exercise / Query 4
Create a third (and new) query that finds the amount of milliseconds spent in pitstop (see the pitstops relation) by each unique combinations of driverid and raceid.

In [28]:
%%sql CREATE OR REPLACE VIEW totaltime_pitstops AS select d.driverref, s.raceid, sum(s.milliseconds) from f1db.pitstops AS s 
INNER JOIN (select driverid, driverref from f1db.drivers) AS d 
ON s.driverid=d.driverid 
GROUP BY d.driverref, s.raceid 
ORDER BY sum(s.milliseconds) DESC LIMIT 30;

Done.

[]

In [18]:
%sql SELECT pg_get_viewdef('totaltime_pitstops', true);

1 rows affected.

[(' SELECT d.driverref,\n    s.raceid,\n    sum(s.milliseconds) AS sum\n   FROM pitstops s\n     JOIN ( SELECT drivers.driverid,\n            drivers.driverref\n           FROM drivers) d ON s.driverid = d.driverid\n  GROUP BY d.driverref, s.raceid\n  ORDER BY (sum(s.milliseconds)) DESC;',)]

In [29]:
%sql select * from totaltime_pitstops;

30 rows affected.

[('ricciardo', 967, Decimal('3572090')),
 ('button', 967, Decimal('3569001')),
 ('max_verstappen', 967, Decimal('3563738')),
 ('massa', 967, Decimal('3554774')),
 ('kvyat', 967, Decimal('3546767')),
 ('kevin_magnussen', 967, Decimal('3542704')),
 ('bottas', 967, Decimal('3542270')),
 ('gutierrez', 967, Decimal('3538573')),
 ('vettel', 967, Decimal('3524541')),
 ('wehrlein', 967, Decimal('3518952')),
 ('hulkenberg', 967, Decimal('3518090')),
 ('alonso', 967, Decimal('3517428')),
 ('ocon', 967, Decimal('3494144')),
 ('hamilton', 967, Decimal('3492409')),
 ('sainz', 967, Decimal('3491881')),
 ('nasr', 967, Decimal('3491420')),
 ('rosberg', 967, Decimal('3491371')),
 ('perez', 967, Decimal('3490688')),
 ('perez', 976, Decimal('1645436')),
 ('raikkonen', 976, Decimal('1637077')),
 ('wehrlein', 976, Decimal('1426360')),
 ('grosjean', 976, Decimal('1395069')),
 ('bottas', 976, Decimal('1385158')),
 ('ocon', 976, Decimal('1381084')),
 ('vettel', 976, Decimal('1375358')),
 ('hamilton', 976, Decimal('1373445')),
 ('ricciardo', 976, Decimal('1372037')),
 ('vandoorne', 976, Decimal('1371155')),
 ('ericsson', 976, Decimal('1364907')),
 ('stroll', 976, Decimal('1350680'))]

#### Exercise / Query 5
Time to put everything together. Use the query for 4 as a join subquery in query 3 (see slides on "a query within a query") to find the total amount of pitstop time, for each result in query 3

In [20]:
%%sql select count(r.constructorid) AS times_driven, d.driverref, c.constructorref, sum(totalmil.ms) from f1db.results AS r 
INNER JOIN (select driverid, driverref from f1db.drivers) AS d 
ON r.driverid=d.driverid 
INNER JOIN (select constructorid, constructorref from f1db.constructors) AS c 
ON r.constructorid=c.constructorid 
INNER JOIN (select driverref, sum(s.milliseconds) AS ms from f1db.pitstops AS s
INNER JOIN (select driverid, driverref from f1db.drivers) as innerdriver
ON s.driverid=innerdriver.driverid GROUP BY innerdriver.driverref) AS totalmil
ON totalmil.driverref=d.driverref
WHERE r.statusid=1  
GROUP BY c.constructorref, d.driverref
ORDER BY count(r.constructorid) DESC;

118 rows affected.

[(141, 'michael_schumacher', 'ferrari', Decimal('286053468')),
 (112, 'massa', 'ferrari', Decimal('1708078064')),
 (109, 'rosberg', 'mercedes', Decimal('1350554908')),
 (100, 'webber', 'red_bull', Decimal('334503000')),
 (97, 'vettel', 'red_bull', Decimal('1398666086')),
 (92, 'raikkonen', 'ferrari', Decimal('920149684')),
 (87, 'button', 'mclaren', Decimal('1026662031')),
 (87, 'alonso', 'ferrari', Decimal('1150974156')),
 (85, 'hamilton', 'mercedes', Decimal('1233697310')),
 (84, 'hamilton', 'mclaren', Decimal('1219183224')),
 (80, 'alonso', 'renault', Decimal('1058367040')),
 (73, 'barrichello', 'ferrari', Decimal('89852123')),
 (56, 'ricciardo', 'red_bull', Decimal('863136792')),
 (52, 'raikkonen', 'mclaren', Decimal('520084604')),
 (52, 'bottas', 'williams', Decimal('654717856')),
 (49, 'hulkenberg', 'force_india', Decimal('654072825')),
 (48, 'vettel', 'ferrari', Decimal('692123424')),
 (47, 'heidfeld', 'bmw_sauber', Decimal('26946651')),
 (44, 'michael_schumacher', 'benetton', Decimal('89264912')),
 (42, 'trulli', 'toyota', Decimal('40069974')),
 (41, 'massa', 'williams', Decimal('625278577')),
 (38, 'perez', 'force_india', Decimal('551153596')),
 (36, 'rosberg', 'williams', Decimal('446054832')),
 (34, 'resta', 'force_india', Decimal('103995834')),
 (34, 'michael_schumacher', 'mercedes', Decimal('68977432')),
 (33, 'raikkonen', 'lotus_f1', Decimal('330053691')),
 (33, 'grosjean', 'lotus_f1', Decimal('320267343')),
 (33, 'sutil', 'force_india', Decimal('138317949')),
 (29, 'alonso', 'mclaren', Decimal('383658052')),
 (28, 'vergne', 'toro_rosso', Decimal('116165588')),
 (28, 'kobayashi', 'sauber', Decimal('104355160')),
 (27, 'button', 'bar', Decimal('318619251')),
 (23, 'kovalainen', 'mclaren', Decimal('56033934')),
 (22, 'max_verstappen', 'red_bull', Decimal('180424728')),
 (22, 'ricciardo', 'toro_rosso', Decimal('339089454')),
 (22, 'glock', 'toyota', Decimal('39177512')),
 (21, 'maldonado', 'williams', Decimal('123837546')),
 (21, 'trulli', 'renault', Decimal('20034987')),
 (19, 'button', 'honda', Decimal('224213547')),
 (18, 'sainz', 'toro_rosso', Decimal('150423732')),
 (18, 'buemi', 'toro_rosso', Decimal('17729946')),
 (18, 'barrichello', 'honda', Decimal('22155318')),
 (16, 'button', 'brawn', Decimal('188811408')),
 (16, 'barrichello', 'brawn', Decimal('19693616')),
 (15, 'perez', 'sauber', Decimal('217560630')),
 (14, 'barrichello', 'jordan', Decimal('17231914')),
 (14, 'barrichello', 'williams', Decimal('17231914')),
 (14, 'bottas', 'mercedes', Decimal('176270192')),
 (14, 'perez', 'mclaren', Decimal('203056588')),
 (14, 'petrov', 'renault', Decimal('28859488')),
 (14, 'alguersuari', 'toro_rosso', Decimal('14365134')),
 (13, 'webber', 'williams', Decimal('43485390')),
 (13, 'massa', 'sauber', Decimal('198259061')),
 (13, 'bruno_senna', 'williams', Decimal('18983276')),
 (13, 'hulkenberg', 'sauber', Decimal('173529525')),
 (12, 'kevin_magnussen', 'mclaren', Decimal('116668440')),
 (12, 'liuzzi', 'force_india', Decimal('13482216')),
 (12, 'vettel', 'toro_rosso', Decimal('173030856')),
 (11, 'kvyat', 'toro_rosso', Decimal('103288801')),
 (11, 'maldonado', 'lotus_f1', Decimal('64867286')),
 (11, 'max_verstappen', 'toro_rosso', Decimal('90212364')),
 (11, 'gutierrez', 'sauber', Decimal('96698316')),
 (11, 'kovalainen', 'renault', Decimal('26798838')),
 (11, 'grosjean', 'haas', Decimal('106755781')),
 (10, 'heidfeld', 'sauber', Decimal('5733330')),
 (10, 'barrichello', 'stewart', Decimal('12308510')),
 (9, 'nasr', 'sauber', Decimal('76621797')),
 (9, 'kvyat', 'red_bull', Decimal('84509019')),
 (9, 'trulli', 'jordan', Decimal('8586423')),
 (8, 'webber', 'jaguar', Decimal('26760240')),
 (8, 'ocon', 'force_india', Decimal('57093520')),
 (7, 'hulkenberg', 'williams', Decimal('93438975')),
 (7, 'ericsson', 'sauber', Decimal('50518993')),
 (7, 'trulli', 'prost', Decimal('6678329')),
 (6, 'button', 'renault', Decimal('70804278')),
 (6, 'rosa', 'mclaren', Decimal('5605026')),
 (6, 'jolyon_palmer', 'renault', Decimal('21507378')),
 (5, 'heidfeld', 'williams', Decimal('2866665')),
 (5, 'hulkenberg', 'renault', Decimal('66742125')),
 (5, 'rosa', 'sauber', Decimal('4670855')),
 (5, 'raikkonen', 'sauber', Decimal('50008135')),
 (4, 'button', 'williams', Decimal('47202852')),
 (4, 'heidfeld', 'renault', Decimal('2293332')),
 (4, 'stroll', 'williams', Decimal('7560068')),
 (4, 'chilton', 'marussia', Decimal('12848932')),
 (3, 'jules_bianchi', 'marussia', Decimal('8820603')),
 (3, 'kevin_magnussen', 'haas', Decimal('29167110')),
 (3, 'garde', 'caterham', Decimal('3592830')),
 (3, 'kevin_magnussen', 'renault', Decimal('29167110')),
 (3, 'kovalainen', 'caterham', Decimal('7308774')),
 (3, 'vandoorne', 'mclaren', Decimal('6065013')),
 (3, 'liuzzi', 'toro_rosso', Decimal('3370554')),
 (2, 'pic', 'caterham', Decimal('3860832')),
 (2, 'bruno_senna', 'renault', Decimal('2920504')),
 (2, 'gutierrez', 'haas', Decimal('17581512')),
 (2, 'pic', 'marussia', Decimal('3860832')),
 (2, 'button', 'benetton', Decimal('23601426')),
 (2, 'rosa', 'arrows', Decimal('1868342')),
 (2, 'kobayashi', 'toyota', Decimal('7453940')),
 (2, 'liuzzi', 'red_bull', Decimal('2247036')),
 (2, 'sutil', 'sauber', Decimal('8382906')),
 (2, 'glock', 'marussia', Decimal('3561592')),
 (2, 'petrov', 'caterham', Decimal('4122784')),
 (1, 'wehrlein', 'manor', Decimal('7670219')),
 (1, 'kovalainen', 'lotus_f1', Decimal('2436258')),
 (1, 'rosa', 'jaguar', Decimal('934171')),
 (1, 'ambrosio', 'lotus_f1', Decimal('1043218')),
 (1, 'sutil', 'spyker', Decimal('4191453')),
 (1, 'vettel', 'bmw_sauber', Decimal('14419238')),
 (1, 'kobayashi', 'caterham', Decimal('3726970')),
 (1, 'rossi', 'manor', Decimal('311537')),
 (1, 'ericsson', 'caterham', Decimal('7216999')),
 (1, 'grosjean', 'renault', Decimal('9705071')),
 (1, 'trulli', 'lotus_racing', Decimal('954047')),
 (1, 'kovalainen', 'lotus_racing', Decimal('2436258')),
 (1, 'wehrlein', 'sauber', Decimal('7670219')),
 (1, 'rosa', 'hrt', Decimal('934171')),
 (1, 'ocon', 'manor', Decimal('7136690'))]

#### Exercise / Query 6
As a last thing we want to find the driver with the least pistop time. However we want to control for the amount of races (see explanation below), so we need to include one last column: the average pitstop time per race. Your table should be sorted based on the ascending values of that average pitstop time.  
  
**Explanation**: If we just count the pitstop time, we only get the total time he spend in a workshop, no matter how many races he participated in. If a driver participated in 100 races, he would have more pitstop time than a driver participating in one race!

In [24]:
%%sql select count(r.constructorid) AS times_driven, d.driverref, c.constructorref, sum(totalmil.ms), avg(totalmil.ms) from f1db.results AS r 
INNER JOIN (select driverid, driverref from f1db.drivers) AS d 
ON r.driverid=d.driverid 
INNER JOIN (select constructorid, constructorref from f1db.constructors) AS c 
ON r.constructorid=c.constructorid 
INNER JOIN (select driverref, sum(s.milliseconds) AS ms from f1db.pitstops AS s
INNER JOIN (select driverid, driverref from f1db.drivers) as innerdriver
ON s.driverid=innerdriver.driverid GROUP BY innerdriver.driverref) AS totalmil
ON totalmil.driverref=d.driverref
WHERE r.statusid=1  
GROUP BY c.constructorref, d.driverref
ORDER BY avg(totalmil.ms) ASC LIMIT 1;

1 rows affected.

[(1, 'rossi', 'manor', Decimal('311537'), Decimal('311537.000000000000'))]